main{
    padding: 2rem;
    font-family: 'Noto Sans', sans-serif;

    h1{margin-bottom: 2rem;}

    .card-wrapper{
        flex-wrap: wrap;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        .card-body{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 18rem;
            border-right: 8px solid #f78300;

            h2{text-transform: capitalize;}

            .card-list{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                list-style-type: none;
            }
        }
    }
}