.section2{
    min-height: 100vh;
    background: #333;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    padding-top: 3rem;


    .search{
        padding: 0 1rem;
        height: 50px;
        display: flex;
        input{
            border: none;
            background: #6A6A6A;
            width: 100%;
            padding: 0.7rem;
            color: #fff;
            caret-color: #FDB018;
            &:focus{outline: none;}
        }
        button{
            width: 150px;
            border-radius: 0;
            border: none;
            background: #FDB018;
            color: #fff;
        }

    }
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;

        .card-body{
            background: #2C2C2C;
            padding: 1rem;
            width: 18rem;
            border: 1px solid #fdb1189d;
            border-right: 5px solid #FDB018;

            h2{
                margin-bottom: 1rem;
                text-transform: capitalize;
                color: #FDB018;
            }

            .card-list{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                a{
                    color: #fff;
                    &:hover{color: #FDB018;}
                }
            }
        }
    }
}

@media screen and (max-width:625px) {
    .section2{
        .card-wrapper{
            .card-body{
                width: 100%;
            }
        }
    }
    
}