#navbar{
    background: #FDB018;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-weight: bolder;
    
    font-size: 1.5rem;
    span{margin-right: 2rem;}
}